h1{
    color:yellow;
    background-color:tomato;
}

img{
    width:1000px;
     height:333px;
}

ul{background-color: aquamarine;
color: brown;}

.namn{
    background-color: brown;
}
li{
color: black;}


